<ul class="nav nav-pills pull-right">
    {{#if username}}
        <li><h4 class="text-primary">{{username}}</h4></li>
        <!--<li><hr align="center" width="500" size="2" color="#ff0000" /></li>-->
        <li><a href="#"><h4 class="text-warning">Logout</h4></a></li>
    {{else}}
        <li class="active"><a href="#">Log In</a></li>
    {{/if}}
    <li><a href="#orders"><h4 class="text-warning">Sprints</h4></a></li>
</ul>
<h3 class="text-muted">Catering</h3>
