<label for="email">Email address:</label>
<input type="email" class="form-control" id="email" value="koropatnik@yandex.ru">
<label for="password">Password:</label>
<input type="password" class="form-control" id="password" value="xVLmoQGD">
<button class="btn btn-default" id="login_button">Submit</button>
